# Should be identical to .gitignore
.env
node_modules
.idea
data
managed-files
dev-projects
projects
tmp
/private

# Docker extra
docker
frontend
.editorconfig
eslint.config.js
.git
.gitignore
README.md
